@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#9FCC99, #2B7A21 );
    
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.404) ;
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    color: #2B7A21;
    text-align: center;
    text-shadow: 1px 1px 2px #342c8b6b;
}
h2{
    color: #6f8d6b;
}
p{
    text-align: justify;
}
